# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build

# Misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
server/dev.db
server/dev.db-journal

# Logs
logs
*.log
npm-debug.log*

# Playwright
client/playwright-artifacts
client/test-results
client/blob-report
client/playwright-report

# System
thumbs.db
