# Supabase 配置
DATABASE_URL="postgresql://postgres:GlNmdILEVFmaqXVL@db.db.myhhomhovxtjfiduhdft.supabase.co:5432/postgres"
SUPABASE_URL="https://db.myhhomhovxtjfiduhdft.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15aGhvbWhvdnh0amZpZHVoZGZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA5NDg3OTgsImV4cCI6MjA4NjUyNDc5OH0.UfYNGoRduQLDPfvQtdiBylBK2l3jF7DdtU5n62Xseb0"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15aGhvbWhvdnh0amZpZHVoZGZ0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk0ODc5OCwiZXhwIjoyMDg2NTI0Nzk4fQ.-nSJRCs6UcJ_cmbniotz1JAK8PVq9dEQ-77N-FCECbo"

# 服务端口
PORT=3001